/*---- navbar ------*/
.navbar {
    background-color: #00bfff;
}

.navbar-nav .nav-link {
    color: #000;
}

.navbar.navbar-light.bg-light {
    background-color: #00bfff !important;
}

.navbar-brand img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100%;
}

/*---- Div1Cta ------*/
.ldpage1 {
    position: relative;
    text-align: center;
}

.bg_lavanderia_div1 {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.mashmelo {
    width: auto;
    max-width: 70%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.h1masho {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 70%;
}

.buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.button1 {
    background-color: #0084ff !important;
    border-radius: 10px;
}

.button2 {
    background-color: #ffffff !important;
    border-radius: 10px;
}

/*---- Div2CardsPlan ------*/
.plan-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    width: 30%;
    text-align: center;
    background-color: #00bfff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin-top: 10px;
}

.catfaceicon {
    max-width: 50px;
}

/*---- Whatsapp Button ------*/
.whatsapp-button {
    display: inline-block;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.whatsapp-button img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.whatsapp-button-container {
    text-align: center;
    padding: 30px 3px;
}

/*---- Endereço H1 ------*/
.address-section {
    background-color: #00d5ff;
    padding: 20px;
    text-align: center;
    z-index: 1300;
}

/*---- Mapa Google ------*/
.google-map {
    /* Adicione estilos conforme necessário */
}

/*----Footer--------*/

.footer-section {
    font-size: smaller;
}

/*---- Media queries ------*/
@media (max-width: 767px) {
    body {
        overflow-x: hidden;
        margin: 0;
    }

    .navbar {
        background-color: #00bfff;
        padding: 10px;
        min-height: auto;
    }

    .navbar-lg {
        min-height: 80px;
    }

    .navbar-toggler {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }

    .navbar-brand {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .navbar-nav .nav-item {
        display: block;
        margin-bottom: 10px;
    }

    .navbar-collapse {
        position: fixed;
        top: 56px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00bfff;
        z-index: 1100 !important; 
        display: none;
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav .nav-link {
        color: #000;
        font-size: 18px;
    }

    .plan-section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin: 20px;
    }

    .ldpage1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 20px;
        position: relative; /* Adiciona position relative para criar um contexto de posicionamento */
    }
    
    .bg_lavanderia_div1 {
        width: 100%;
        height: 100%; /* Cobrir o div1 verticalmente */
        object-fit: cover; /* Ajustar para cobrir todo o contêiner */
        position: absolute; /* Posiciona a imagem absolutamente dentro do contexto de ldpage1 */
        z-index: -10; /* Coloca a imagem atrás dos outros elementos */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -5;
    }

    content {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        z-index: 1000 !important;
    }
    
    .mashmelo,
    .h1masho,
    .buttons {
        position: relative; /* Mantém a posição relativa para os outros elementos */
        z-index: 1000 !important; /* Garante que os outros elementos estejam acima da imagem de fundo */
    }
    
    .mashmelo {
        max-width: 100%;
        width: 70%;
        margin-bottom: 20px;
        position: static;
        transform: none;
        top: auto;
        left: auto;
        z-index: 1000 !important;
    }
    
    .h1masho {
        color: aliceblue;
        text-align: center;
        order: 2;
        max-width: none;
        position: static;
        transform: none;
        top: auto;
        left: auto;
        z-index: 1000 !important;
    }
    
    .buttons {
        position: static;
        transform: none;
        top: auto;
        left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        z-index: 1000 !important;
    }
    
    .buttons button {
        margin-bottom: 10px;
        z-index: 1000 !important;
    }
    
}
    

/*---- Animações ------*/
 /*----  @keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
